html, body {
    margin:3rem;
}

body{
 overflow-x: hidden;
}

.content{
    display: flex; 
}


.item{
    display: flex;  
}

#shoppingcart{
    /* margin-left: 300px; */
    margin-top: 60px;
}

.button-grp {
    display: flex;
    flex-direction: row; 
    width: 400px;
    justify-content: space-around; 
    align-items: center;
}

p {
    font-weight: bolder;
}

.btn-sm{
    text-align: center;
    border-radius: 50%;
    height: 43px;
}

img {
    border-radius: 10px;
    border:solid;
    text-align: center;
}

.title-block{
    /* align-items: center; */
    margin-top : 2rem;
}

.btn-dark{
    margin-left:450px;
    margin-top: 15px;
    margin-bottom: 10px;
    
}

.container{
    background: linear-gradient(to top, #92e3f5 0%, #e7e7e7 100%);
    border-radius: 10px;
    height: max-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-left: 12rem; */
}
.card{
    margin: 20px;
    border-radius: 10px;
}

.card img{
    height: 236px;
    padding:10px;
}
h2{
    font-weight:bold;
}


span{
    color:aliceblue;
}

.details {
    text-align: center;
}


h6{
    /* background-color: black; */
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: medium;
}

h1{
    text-align:center;
    margin-top:10px;
    font-weight: bolder;
    font-size: xx-large;
}

h4{
    align-items: center;
    font-size: xx-large;
}