@import 'bootstrap/dist/css/bootstrap.min.css';

*{
    font-family: 'Montserrat', sans-serif;
}
html, body {
    margin:1rem;
}

body{
 overflow-x: hidden;
}

.content{
    display: flex;

}
h6{
    padding:30px;
}

.item{
    display: flex;
     
}
#shoppingcart{
    /* margin-left: 300px; */
    margin-top: 60px;
}
.btn-sm{
    width:30px;
    text-align: center;
    border-radius: 50%;
}
.btn-dark{
    margin-left:450px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.container{
    background: linear-gradient(to top, #92e3f5 0%, #e7e7e7 100%);
    border-radius: 10px;
    height: max-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-left: 12rem; */
}
.card{
    margin: 20px;
    border-radius: 10px;
}

.card img{
    height: 236px;
    padding:10px;
}
h2{
    font-weight:bold;
}
button {
    margin:20px;
    padding-left: 15px;
    padding-right: 15px;
}

span{
    color:aliceblue;
}

.details {
    text-align: center;
}

h6{
    /* background-color: black; */
    color:rgb(0, 0, 0);
    padding:0;
    text-align: center;
}

h1{
    text-align:center;
    margin-top:10px;
    font-weight: bolder;
}

h4{
    align-items: center;
}