<body>
  <div class="content container">
    <div class="main">
      <h1>Look What All You Have Added {{name}}!</h1>
      <div id="shoppingcart">
        <h4>Cart Items 🛒</h4>
        <hr />
        <div *ngFor="let item of currentCart; let i = index" id="items">
          <div class = "row my-4">
            <div class="col">
              <img src="{{ item.src }}" height="120px" width="100px"/> 
            </div>
            <div class="col title-block">
              <p>{{item.title | uppercase}} </p> 
            </div>
            <div class="col button-grp"> 
              <button (click)="reducequantity(i)"class="btn btn-danger btn-sm">-</button> &nbsp; 
              <h6>Qty : &nbsp;{{item.quantity}}</h6> &nbsp;
              <button (click)="addquantity(i)"class="btn btn-success btn-sm">+</button>
            </div>    
          </div>    
        </div>
          <hr />
        </div>
        
        
      </div><br><br><br><br>   
  </div>
      <form (ngSubmit)="checkout($event)" >
        <div [ngStyle]="{'display':'none'}"> 
          <input type="text" value={{name}} name="user_name" > 
      </div>

        <div [ngStyle]="{'display':'none'}"> 
            <input type="email" value={{email}} name="user_email" >
        </div>
        
        <div [ngStyle]="{'display':'none'}">
            <input type="text" name="total" value={{subtotal}}> ok
        </div>

        <div [ngStyle]="{'display':'none'}" *ngFor="let item of currentCart; let i = index">
          <input type="text" name="title" value={{item.title}}> 
        </div>

      <div [ngStyle]="{'display':'none'}" *ngFor="let item of currentCart; let i = index">
        <input type="text" name="quantity" value={{item.quantity}}> 
      </div>  
      <div class="button text-center"> 
        <h4>Total: {{ subtotal | currency:"INR":"symbol" }}
        <button class="btn btn-dark btn-lg">Confirm Order</button> </h4>
      </div>
      </form>
</body>
