html, body {
    margin: 0;
}

body{
    height:fit-content;
    background-color: black;
  }

  .cartimg {
    max-width: 30%;
    height: auto;
}

.container{
    background: linear-gradient(to top, #92e3f5 0%, #e7e7e7 100%);
    border-radius: 10px;
    height: max-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 12rem;
}
.card{
    margin: 20px;
    border-radius: 10px;
}

.card img{
    height: 236px;
    padding:10px;
}
h2{
    font-weight:bold;
}
button {
    margin:20px;
    padding-left: 15px;
    padding-right: 15px;
}

span{
    color:aliceblue;
}

.details {
    text-align: center;
}


/* footer{
    margin-top:49.5em;
} */

#sidebar-wrapper {
    position: fixed; 
    width: 250px;
    height: inherit;
    background-color:blue;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
    width: 22rem;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.forms{
    display: flex;
    justify-content: flex-end;
}
.mains{
    margin:0px 0px 0px 10px;
   
   
}

.sidebar-nav {
position: absolute;
top: 0;
width: 250px;
margin: 0;
padding: 0;
list-style: none;
}


.sidebar-nav li {
text-indent: 20px;
line-height: 40px;
}


.sidebar-nav li a {
display: block;
text-decoration: none;
color: #999999;
height:90px;
}


.sidebar-nav li a:hover {
text-decoration: none;
color: #fff;
background: rgba(255, 255, 255, 0.2);
}


.sidebar-nav li a:active, .sidebar-nav li a:focus {
text-decoration: none;
}


.sidebar-nav>.sidebar-brand {
height: 65px;
font-size: 18px;
line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
color: #999999;
}


.sidebar-nav>.sidebar-brand a:hover {
color: #fff;
background: none;
}
