<!-- <div hidden="false">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
    <div class="container-xl"> -->
      <!-- Logo -->
      <!-- <a class="navbar-brand" href="#">
        <img src="https://preview.webpixels.io/web/img/logos/clever-light.svg" class="h-8" alt="...">
      </a> -->
      <!-- Navbar toggle -->
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- Collapse -->
      <!-- <div class="collapse navbar-collapse" id="navbarCollapse"> -->
        <!-- Nav -->
        <!-- <div class="navbar-nav mx-lg-auto">
          <a class="nav-item nav-link active" routerLink="../home" aria-current="page">Home</a>
          <a class="nav-item nav-link" routerLink="../home">Product</a>
          <a class="nav-item nav-link" routerLink="../home">Features</a>
          <a class="nav-item nav-link" routerLink="../home">Pricing</a>
        </div> -->

        <!--Search bar-->
        <!-- <div class="d-flex">
          <input class="search-bar mr-5" type="search" placeholder="Search Products...">
          <button class="btn-sm btn-success ml-5" type="submit">Search</button>
        </div> -->

        <!-- Right navigation -->
        <!-- <div class="navbar-nav ms-lg-4">
          <a class="nav-item nav-link" routerLink="/login">Login</a>
        </div> -->
        <!-- Action -->
        <!-- <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
          <a routerLink="/register" class="btn btn-sm btn-primary w-full w-lg-auto">
            Register
          </a>
        </div> -->
        <!--Add to cart-->
        <!-- <button type="button" class="btn btn-dark">
          <span class="badge badge-light">+1</span>
          <span class="sr-only">🛒</span>
        </button> -->
        <!-- <div class="cart-icon ml-2">
          <i class="fa fa-shopping-cart">🛒</i>
          <div class="cart-value">2</div>
        </div> -->



      <!-- </div>
    </div>
  </nav> -->
<!-- <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Categories
                </a>
            </li>
            <li>
                <a routerLink="../clothing" >Clothing</a>
            </li>
            <li>
                <a routerLink="../footwear">Shoes/Footwear</a>
            </li>
            <li>
                <a routerLink="../electronics">Electronics</a>
            </li>
            <li>
                <a routerLink="../decor">Home Decor</a>
            </li>
            <li>
                <a routerLink="../decor">Essentials</a>
            </li>
            <li>
              <a routerLink="../clothing" >Clothing</a>
          </li>
          <li>
              <a routerLink="../footwear">Shoes/Footwear</a>
          </li>
          <li>
              <a routerLink="../electronics">Electronics</a>
          </li>
          <li>
              <a routerLink="../decor">Home Decor</a>
          </li>
          <li>
              <a routerLink="../decor">Essentials</a>
          </li>
          <li>
            <a routerLink="../clothing" >Clothing</a>
        </li>
        <li>
            <a routerLink="../footwear">Shoes/Footwear</a>
        </li>
        <li>
            <a routerLink="../electronics">Electronics</a>
        </li>
        <li>
            <a routerLink="../decor">Home Decor</a>
        </li>
        <li>
            <a routerLink="../decor">Essentials</a>
        </li>
        <li>
          <a routerLink="../clothing" >Clothing</a>
      </li>
      <li>
          <a routerLink="../footwear">Shoes/Footwear</a>
      </li>
      <li>
          <a routerLink="../electronics">Electronics</a>
      </li>
      <li>
          <a routerLink="../decor">Home Decor</a>
      </li>
      <li>
          <a routerLink="../decor">Essentials</a>
      </li>
        </ul>
    </div>
  </div> -->
<!-- </div> -->
<div class="my-overlay" *ngIf="showOverlay">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>
  <section>
    <router-outlet></router-outlet>
  </section>
  <footer>
  <div class="text-center text-white" style="background-color: #16192c">
    <!-- <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>
    </div> -->
      
      <section>
        <form>
          <div class="row d-flex justify-content-center">
            <div class="col-auto">
              <button type="submit" class="btn btn-outline-light mb-1 mt-2">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </section>
    </div>
    <div class="text-center text-white" style="background-color:#16192a">
      © 2021 Copyright
    </div>
</footer>








