
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
/* *{
    padding: 0;
    margin: 0; 
    font-family: 'Quicksand', sans-serif;
   } */
/* body{
    background: #fff;
} */
/* .container{
    position: relative;
    width: 100%;  height: 100vh;
    background: linear-gradient(180deg , #fff 0% 50%, #673ab7 100% 100%);
    max-width:100%;
} */
/* .container .login{
    position: absolute;
    top: 50%;   left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding: 40px 20px 0;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    box-sizing: border-box;
    background: #fff;
} */
/* .container .login h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #726b6b;
} */
/* .container .login form{
    position: relative;
}
.container .login form .row{
    position: relative;
    margin: 40px 0;
    width: 100%;
}
.container .login form .row input,.container .login form .row textarea{
    position: relative;
    border: none;   outline: none;
    width: 100%;
    padding: 6px 0;
    border-bottom: 1px solid #726b6b;
    font-size: 20px;
    color: #726b6b;
    background: transparent;
}
.container .login form .row span{
    color: #726b6b;  background: transparent;
    display: inline-block;
    padding: 3px 10px;
    position: absolute;
    top: 8px;  left: 0;
    font-size: 15px;
    text-transform: uppercase;
    transition: .5s;
    z-index: -1;
}
.container .login form .row input:focus + span ,
.container .login form .row textarea:focus + span,
.container .login form .row input:valid + span ,
.container .login form .row textarea:valid + span{
    color: #fff;  background: #e91e63;
    top: -20px;
}
.container .login form .row:last-child{
    text-align: right;
    margin: 20px 0;
}
.container .login form .row input[type = 'submit']{
    width: auto;
    border: none;
    color: #fff;  background: #e91e63;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
} */


 * ,*:after, *:before {
    box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    background-color: #ffffff;
    padding: 90px 75px;
    /* background: linear-gradient(45deg, #ffffff66, #ffffff66); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2%;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: -5.5rem;
}
.login {
    width: 100%;
    max-width: 1000px;
    background-image: url("https://images.unsplash.com/photo-1536148935331-408321065b18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=333&q=80");
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
}
.login .login-form {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    max-width: 50%;
    background-color: #2d3f48;
    padding: 70px 45px;
}
.body{
    background-color: #fff9f9;
}

h4{
    color:white;
}


.login .login-form .form-wrapper .input-wrapper .label, .login .login-form .form-wrapper .input-wrapper .input {
    display: block;
    width: 100%;
}
.login .login-form .form-wrapper .input-wrapper .label {
    padding-bottom: 3px;
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: bold;
}
.login .login-form .form-wrapper .input-wrapper .input {
    padding: 5px;
    border-radius: 5px;
    border: 1.5px solid #cae9c4;
}
.login .login-form .form-wrapper .action-help {
    padding: 10px 0;
}

.login .login-form .form-wrapper .action-help .help-link {
    color: #583177;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 0.9rem;
}
.login .login-form .form-wrapper .action-help .help-link:hover {
    color: #fe7092;
}
.login .login-form .form-wrapper .actions {
    display: flex;
    flex-flow: column;
}
.login .login-form .form-wrapper .actions .action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 15px;
    border-radius: 25px;
    color: #fff;
    background-color: #184d47;
    text-decoration: none;
    border: 1px solid #184d47;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.login .login-form .form-wrapper .actions .action:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 25px -15px rgba(0, 0, 0, 0.5);
}

.login-title{
    color:white;
    font-weight: 900;
}
h3{
    color:rgb(170, 169, 169);
}

@media only screen and (max-width: 767.98px) {
    .login .login-decoration {
        display: none;
   }
}
.cont1{
    text-align: center;
    position: absolute;
    top: 8%;
    transform: translate(-0%, -80%);
    width: 100%;
}
.container span{
    display: block;
}
.text1{
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: rgb(5, 5, 5);
    text-align: center;
    position: relative;
    animation: text 3s 1;
}

@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    50%{
        letter-spacing: 35px;
        margin-bottom: -40px;
        }
}

